<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/sidebar.css" rel="stylesheet">
        <style>
            body{
                margin: 0;
                overflow: hidden;
            }
           
            .header{
                position: sticky;
                height: 50px;
                background-color: rgb(233, 233, 233);
            }
            .header p{
                cursor: pointer;
            }
            .header #static,#list{
                display: inline-block;
                position: relative;
                margin: 10px;
                bottom:4px;
                border: 2px solid;
                border-radius: 4px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                background-color: rgb(197, 211, 211);
            }

            .chatlist{
                background-color: blue;
                position: relative;
                width: 200px;
                left:82%;
                top:15%;
                height: 600px;
                background-color: red;
            }
            .open_chat{
                position: relative;
                background-color: red;
            }
           
            .chatlist .list{
                position: absolute;
                bottom:1px;
            }
            #list{
                position: relative;
                left:70%;
                background-color: red;
            }

            /* .sidebar{
                background-color: rgb(7, 7, 19);
                width: 200px;
                height: 735px;
                position: relative;
                margin:0;
            }
            .sidebar p{
                display: block;
                cursor: pointer;
                background-color: rgb(217, 220, 207);
                padding: 10px;
                position: relative;
                top:200px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            } 
            .sidebar p[active=true]{
                background-color: rgb(9, 64, 214);
            }   */
            .tasks{
                position: absolute;
                top:20%;
                left:300px;
                width: 500px;
                height: 300px;
            }
          
         
            .menu{
               
                position: absolute;
                left:87%;
                top:4%;
                background-color: red;
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                max-height: 500px;
                z-index: 2;

                
                
                
            }
            .menu p{
                background-color: white;
                margin:0;
                cursor: pointer;
                word-wrap: break-word;
                max-width: 150px;
                

                padding: 4px;
                border: 1px solid rgb(166, 149, 149);
            }
            .menu p:hover{
                background-color: blue;
            }
           
            .header #list{
                left:65%;
                width: 60px;
                background-color: #021b7f;
                color: white;
            }
            .act{
                position: absolute;
                top:20%;
                right:200px;
                width: 300px;
                height: 500px;
                overflow: auto;
            }
        
            .act input[type=button]{
                border-radius: 10px;
                margin: 0px;
                width: 70px;
                height: 40px;
                opacity: 0.6;
                cursor: pointer;
                
            }
            .act input[type=button][active=true]{
                background-color: green;
            }
            .data{
                max-width: 300px;
            }
            .data p{
                word-wrap: break-word;
                font-size: 13px;
                font-family: 'Courier New', Courier, monospace;
                margin-top: 6px;
            }
        

        </style>
    </head>
    <script>
        $(()=>{
           
            $("#buttons input[type=button]").on('click',function(){
                $(this).attr('active',"true")

                if($(this).attr('id')=="agents"){
                    $(".user").hide()
                    $("#buttons #my").removeAttr("active")
                    $(".agents").show()
                }else{
                    $(".agents").hide()
                    $("#buttons #agents").removeAttr("active")
                    $(".user").show()
                }
            })
          
         
        })
    </script>
    <body>
        <div class="header">
            <p id="static" onclick="location.href='/home'">Home</p>

            <p id="static" onclick="location.href='/my/profile'">My Profile</p>
            <p id="static" onclick="location.href='/logout'">Logout</p>
            <p id="list" onclick="location.href='/chat/'">Chat</p>

            <% if(level==1) {%>
                <p id="static" onclick="location.href='/settings'">Settings</p>
            <%}%>
           

        </div>
        <% if(level==1) { %>
        <!-- <div class="menu">
            <p>akaaaaaaaaaaassssssssssss</p>
            <p>da</p>
            <p>ak</p>
            <p>da</p>
            <p>ak</p>
            <p>da</p>
            <p>ak</p>
            <p>da</p>
            <p>ak</p>
            <p>da</p>
        </div> -->
   <% } %>
      

<div class="sidebar">
    <p id="task" onclick="location.href='/tasks'">Tasks</p>
    <p id="events" onclick="location.href='/events'">Events</p>

</div>
<div class="tasks">
    <p>Total Work: <%= data.tasks+data.events %> </p>
    <p>Total Tasks : <%=data.tasks %></p>
    <p>Total Events : <%=data.events %></p>
  
</div>
<% if(level==1) {%>


<div class="act">
    <div id="buttons">
        <input type="button" active="true" id="my" value="My">
        <input type="button" id="agents" value="Agents">
    </div>

 
<% if(result!=0 && result.me) { %>
    <div class="data user">
        <% for(x of result.me) {%>
            <p class="border-bottom"><%=x.msg %></p>
        <% } %>
    </div>
<% }else{%>
    <div class="data user">
        <p>No Activity</p>
    </div>
<% } %>

<% if(result!=0 && result.Agents){ %>
    <div class="data agents" style="display: none;">
        <% for(x of result.Agents) {%>
            <p class="border-bottom"><%=x.msg %></p>
        <% } %>
    </div>
<%}else{%>
    <div class="data agents" style="display: none;">
    <p>No Agents Activity</p>
</div>
<%}%>

</div>

<% } %>


    </body>
</html>